@model EventsModel

@{
    ViewData["Title"] = "List";
    ViewData["ActivePage"] = ManageSidebar.CMSEvents;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4 bg-green">
                <div class="container-xl px-4">
                    <div class="text-center">
                        <h1 class="text-white">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white-50">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <partial name="_Notification" />

                <h2>Attendees: @Model.Title</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var attendance in Model.Attendees)
                        {
                            <tr>
                                <td>@attendance.Email</td>

                                <td>

                                    <form asp-action="RemoveUserFromEvent" asp-route-eventId="@Model.Id" asp-route-userId="@attendance.Id" method="post">

                                        <span id="confirmDeleteSpan_@attendance.Id" style="display:none">
                                            <span>Continue?</span>
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <a class="btn btn-primary"
                                               onclick="confirmDelete('@attendance.Id', false)">No</a>
                                        </span>
                                        <span id="deleteSpan_@attendance.Id">
                                            <a class="btn btn-danger"
                                               onclick="confirmDelete('@attendance.Id', true)">Delete</a>
                                        </span>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>





                <form method="post" asp-action="AddUserToEvent" asp-route-eventId="@Model.Id">
                    <label for="userId">Add user:</label>
                    <select name="userId" id="userId">
                        <option value="">Select a user</option>
                        @foreach (var user in GetAllUsers())
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>


                @functions {
                    public IEnumerable<AppIdentityUser> GetAllUsers()
                    {
                        var userManager = Context.RequestServices.GetService<UserManager<AppIdentityUser>>();
                        return userManager.Users.ToList();
                    }
                }

                <a asp-action="List">Back to List</a>

            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>


@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}