@model EventsPaginatedResult<EventsModel>

@{
    ViewData["Title"] = "List";
    ViewData["ActivePage"] = ManageSidebar.CMSEvents;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="calendar"></i></div>
                                    Events
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-primary" asp-action="Create" asp-controller="Events">
                                    <i class="me-1" data-feather="plus"></i>
                                    Create New
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <partial name="_Notification" />
                <div class="card card-scrollable">
                    <div class="card-body" style="max-height:50rem">
                        <table id="datatablesSimple">
                            @if (Model.TotalCount == 0)
                            {
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            }
                            else
                            {
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Result)
                                    {

                                        <tr>
                                            <td>
                                                <span class="badge bg-blue-soft text-blue">@item.Category</span>
                                            </td>
                                            <td>@item.Title</td>
                                            <td>
                                                @if (item.IsDone == true)
                                                {
                                                    <span class="badge bg-green-soft text-green">Done</span>
                                                    
                                                }
                                                else
                                                {
                                                    <span class="badge bg-red-soft text-red">Upcoming</span>
                                                }
                                            </td>
                                            <td>@item.PostedDate.ToString("dddd, dd MMMM yyyy")</td>
                                            <td>
                                                <a class="btn btn-sm btn-light text-primary" asp-action="Details" asp-route-id="@item.Id">
                                                    <i class="me-1" data-feather="user"></i>
                                                    Attendees
                                                </a>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" asp-action="Edit" asp-controller="Events" asp-route-id="@item.Id"><i data-feather="edit"></i></a>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal_@item.Id"><i data-feather="trash-2"></i></a>
                                            </td>
                                        </tr>
                                        <!--Delete Modal -->
                                        <div class="modal fade" id="deleteModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Delete an Event</h5>
                                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">Are you sure you want to delete <span class="text-danger">@item.Title</span>?</div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                        <form class="form-inline" asp-action="Delete" asp-route-id="@item.Id" method="post">

                                                            <button type="submit" class="btn btn-primary">Delete</button>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>



@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}