@model List<COLLATEFINAL.ViewModels.UserRolesViewModel>

@{
    var userId = ViewBag.userId;
}
@{
    ViewData["Title"] = "User Roles";
    ViewData["ActivePage"] = ManageSidebar.ListUsers;
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<partial name="_NewNavbar" />
<div id="layoutSidenav">
            <partial name="_NewSidenav"/>
            <div id="layoutSidenav_content">
               <main>
                    <!-- Begin Page Content -->
                    <div class="container-xl px-4 mt-4">
                        <partial name="_Notification" />
                        <form method="post">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Manage User Roles</h2>
                                </div>
                                <div class="card-body">

                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model[i].RoleId" />
                                            <input type="hidden" asp-for="@Model[i].RoleName" />
                                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                            @if (Model[i].RoleName == "Administrator")
                                            {
                                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                    @Model[i].RoleName
                                                </label>
                                            }
                                            else if (Model[i].RoleName == "sceneOfficer")
                                            {
                                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                    SCENE Officer
                                                </label>
                                            }
                                            else if (Model[i].RoleName == "Faculty")
                                            {
                                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                    @Model[i].RoleName
                                                </label>
                                            }
                                            else if (Model[i].RoleName == "Student")
                                            {
                                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                    @Model[i].RoleName
                                                </label>
                                            }
                                            
                                        </div>
                                    }
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Update" class="btn btn-primary"
                                           style="width:auto" />
                                    <a asp-action="EditUser" asp-route-id="@userId"
                                       class="btn btn-primary" style="width:auto">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.container-fluid -->
                </main>
                <partial name="_NewFooter"/>
            </div>
</div>


@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}


