@model PaginatedResult<PrototypeModel>

@{
    ViewData["Title"] = "List";
    ViewData["ActivePage"] = ManageSidebar.CMSPrototype;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />


<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4 bg-green">
                <div class="container-xl px-4">
                    <div class="text-center">
                        <h1 class="text-white">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white-50">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <partial name="_Notification" />

                @if (Model.TotalCount == 0)
                {

                    <div class="card">
                        <div class="card-header">
                            No Instructional Materials created yet
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create your first Instructional Material
                            </h5>
                            <a class="btn btn-primary" style="width:auto" asp-action="Create">
                                Create New
                            </a>
                        </div>
                    </div>

                }
                else
                {
                    <div class="row mb-3">
                        <div class="col-6">
                            <a class="btn btn-primary" asp-action="Create">Create New</a>
                        </div>
                        <div class="col-6">
                            <form asp-action="List" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" name="s" class="form-control bg-light border-1 small" value="@Model.SearchKeyword" placeholder="Search for..."
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    foreach (var user in Model.Result)
                    {
                        <div class="card shadow mb-3">
                            <div class="card-header">
                                Category: @user.Header
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@user.Title</h5>
                            </div>
                            <div class="card-footer">
                                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                    <a asp-controller="Prototype" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a class="btn btn-primary"
                                           onclick="confirmDelete('@user.Id', false)">No</a>
                                    </span>
                                    <span id="deleteSpan_@user.Id">
                                        <a class="btn btn-danger"
                                           onclick="confirmDelete('@user.Id', true)">Delete</a>
                                    </span>
                                </form>
                            </div>
                        </div>


                    }


                    <nav>
                        <ul class="pagination jusify-content-center">
                            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page - 1)">
                                    Previous
                                </a>
                            </li>
                            @for (var pageNumber = 1; pageNumber <= Model.TotalCount; pageNumber++)
                            {
                                if (pageNumber == Model.Page)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@pageNumber</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@pageNumber">@pageNumber</a>
                                    </li>
                                }

                            }
                            <li class="page-item @(Model.Page == Model.TotalCount || Model.Page == 1 ? "disabled" : "")">
                                <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page + 1)">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>

                }






            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}