@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = ManageSidebar.Dashboard;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
<partial name="_NewSidenav" />
<div id="layoutSidenav_content">
    <main>
        <header class="py-10 mb-4 bg-img-cover" style="background-image: url('/new/assets/img/bg-scene.svg')">
            <div class="container-xl px-4">
                <div class="text-center">
                    <img src="~/Logo PNG1.png" style="height:100px" />
                    <h1 class="text-white fw-bolder">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                    <p class="lead mb-0 text-white">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4">
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Dashboard info widget 1-->
                    <a class="card lift border-start-lg border-start-primary h-100 shadow-none rounded-xl" asp-area="" asp-controller="Subjects" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-primary mb-1">Instructional Materials</div>
                                    <div class="h5">@ViewBag.CountSubj</div>
                                    <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                        <i class="me-1" data-feather="book"></i>
                                        @if(ViewBag.CountLec > 1 && ViewBag.CountVid > 1)
                                        {
                                            <div>@ViewBag.CountLec lectures & @ViewBag.CountVid videos</div>
                                        }
                                        else
                                        {
                                            <div>@ViewBag.CountLec lecture & @ViewBag.CountVid video</div>
                                        }

                                    </div>
                                </div>
                                <div class="ms-2"><i class="fas fa-book-open fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Dashboard info widget 2-->
                    <a class="card lift border-start-lg border-start-secondary h-100 shadow-none rounded-xl" asp-area="" asp-controller="GameAndWebDev" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-secondary mb-1">Software Projects</div>
                                    <div class="h5">@ViewBag.CountSoftware</div>
                                </div>
                                <div class="ms-2"><i class="fas fa-code fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Dashboard info widget 3-->
                    <a class="card lift border-start-lg border-start-success h-100 shadow-none rounded-xl" asp-area="" asp-controller="ResearchPapers" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-success mb-1">Research Papers</div>
                                    <div class="h5">@ViewBag.CountResearch</div>
                                </div>
                                <div class="ms-2"><i class="fas fa-file-alt fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <!-- Dashboard info widget 4-->
                    <a class="card lift border-start-lg border-start-info h-100 shadow-none rounded-xl" asp-area="" asp-controller="Events" asp-action="Index">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="small fw-bold text-info mb-1">Events</div>
                                    <div class="h5">@ViewBag.CountEvents</div>
                                </div>
                                <div class="ms-2"><i class="fas fa-calendar fa-2x text-gray-200"></i></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">

                <!-- Bar Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow-none rounded-xl mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Published Documents</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myBarChart"></canvas>
                            </div>
                            <hr>
                            Bar Chart representation of
                            <code>Published Documents</code> by SCENE Students.
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow-none rounded-xl mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Total Users & Roles</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> Users
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Roles
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <partial name="_NewFooter" />
</div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="assets/demo/chart-pie-demo.js"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var username = ["Users", "Roles"];
        var numofusers = ['@ViewBag.CountUsers','@ViewBag.CountRoles'];
        
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: username,
                    datasets: [{
                        data: numofusers,
                        backgroundColor: ['#061bb0', '#174a15', '#36b9cc'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });

    </script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        // Bar Chart Example
        var title = ["Instructional Materials", "Software Projects", "Research Papers", "Events"];
        var datas = ['@ViewBag.CountSubj', '@ViewBag.CountSoftware', '@ViewBag.CountResearch', '@ViewBag.CountEvents'];
        var ctx = document.getElementById("myBarChart");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: title,
                datasets: [{
                    label: "Total Published",
                    backgroundColor: "#061bb0",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#061bb0",
                    data: datas,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 50,
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return number_format(value) + ' items';
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + number_format(tooltipItem.yLabel);
                        }
                    }
                },
            }
        });

    </script>
}







