@model SoftwarePaginatedResult<GameAndWebDevModel>
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager


@{
    ViewData["Title"] = "Software Projects";
    ViewData["ActivePage"] = ManageSidebar.GameAndWebDev;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <header class="card card-waves">
                    <div class="card-body px-5 pt-5 pb-0">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-8">
                                <h1 class="text-primary">Software Projects</h1>
                                <p class="lead mb-4">In this page, we are presenting the Software Projects of Students of Computer Engineering with Natural Excellence organization that contains their project proposal, model and design, software programming tool, and applications used. Our team specifically aims to show the collection of this imaginative and visionary game and website developments to inspire our fellow computer engineering students improve their imagination skills and the ability to produce new things that could be benificial to community as well. We believe that a well-designed game and website is essential for reaching a larger audience and they can help bring a creative vision to reality through the use of technology and build immersive engaging experiences for users.</p>
                                <div class="shadow rounded">
                                    <form asp-action="Index" method="get">
                                        <div class="input-group input-group-joined input-group-joined-xl border-0">
                                            <input class="form-control me-0" type="text" name="s" value="@Model.SearchKeyword" placeholder="Search..." aria-label="Search" autofocus />
                                            <span class="input-group-text"><i data-feather="search"></i></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4"><img class="img-fluid" src="/new/assets/img/illustrations/problem-solving.svg" /></div>
                        </div>
                        <nav class="nav nav-borders">
                            <a class="nav-link active ms-0" href="#!">Getting Started</a>
                            <a class="nav-link" href="#!">Tutorials</a>
                            <a class="nav-link" href="#!">Licensing</a>
                            <a class="nav-link" href="#!">Terms &amp; Conditions</a>
                            <a class="nav-link" href="#!">Support</a>
                        </nav>
                    </div>
                </header>
                <h4 class="mb-0 mt-5">Mobile & Web Developments</h4>
                <hr class="mt-2 mb-4" />
                <div class="row">
                    @if (Model.TotalCount == 0)
                    {
                        <div class="col-4 text-center">
                        </div>
                        <div class="col-4 text-center">

                            <p>Your search - @Model.SearchKeyword - did not match any entry.</p>

                        </div>
                        <div class="col-4 text-center">
                        </div>
                    }
                    else
                    {

                        @foreach (var item in Model.Result)
                        {
                            <div class="col-lg-4 mb-4">
                                <!-- Knowledge base category card-->
                                <a class="card lift shadow-none rounded-xl" href="@Url.Action("GameAndWebDevDetail","Detail", new { id = item.Id, pageType = "GameAndWebDev"})">
                                    <img class="card-img-top" src="@Url.Content($"~/Uploads/SoftwareProjects/{item.ImageUrl}")" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-teal">
                                            <i class="me-2" data-feather="code"></i>
                                            @item.Title
                                        </h5>
                                    </div>
                                    <div class="card-footer"><div class="small text-muted">@item.PostedDate.ToString("MMM dd, yyyy")</div></div>
                                </a>
                            </div>
                        }
                    }
                    
                </div>
                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-12 mb-4">
                        <nav class="float-right">
                            <ul class="pagination jusify-content-center">
                                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page - 1)">
                                        Previous
                                    </a>
                                </li>
                                @for (var pageNumber = 1; pageNumber <= Model.TotalCount; pageNumber++)
                                {
                                    if (pageNumber == Model.Page)
                                    {
                                        <li class="page-item active">
                                            <span class="page-link">@pageNumber</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@pageNumber">@pageNumber</a>
                                        </li>
                                    }

                                }
                                <li class="page-item @(Model.Page == Model.TotalCount || Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>





                    </div>


                </div>

            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>







