@model SoftwarePaginatedResult<GameAndWebDevModel>
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager


@{
    ViewData["Title"] = "Software Projects";
    ViewData["ActivePage"] = ManageSidebar.GameAndWebDev;
}


<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <partial name="_ManageSidebar" />
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    





                   

                    <!-- Nav Item - User Information -->
                    <partial name="_LoginPartialProfileUser" />

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

               <ul class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="text-dark">Software Projects</li>
                </ul>




                <div class="row">

                    <div class="col-lg-12 mb-4">
                        <!-- Overview -->
                        <div class="card lift shadow mb-4">
                            <div class="card-header bg-success py-3 text-center">
                                <h6 class="m-0 font-weight-bold text-light text-center">Overview</h6>
                            </div>
                            <div class="card-body text-center">
                                <h6 class="text-dark text-justify" style="text-indent:50px">
                                    In this page, we are presenting the Software Projects of Students of Computer Engineering with Natural Excellence organization that contains their project proposal, model and design, software programming tool, and applications used. Our team specifically aims to show the collection of this imaginative and visionary game and website developments to inspire our fellow computer engineering students improve their imagination skills and the ability to produce new things that could be benificial to community as well. We believe that a well-designed game and website is essential for reaching a larger audience and they can help bring a creative vision to reality through the use of technology and build immersive engaging experiences for users.
                                </h6>

                            </div>
                            <div class="col-md-8 offset-md-2 mb-4">
                                <form asp-action="Index" method="get">
                                    <div class="input-group">
                                        <input type="text" name="s" value="@Model.SearchKeyword" class="form-control form-control-lg" placeholder="Type keyword here...">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-lg btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <!-- Content Row -->
                <div class="row">
                    @if (Model.TotalCount == 0)
                    {
                        <div class="col-4 text-center">


                        </div>
                        <div class="col-4 text-center">

                            <p>Your search - @Model.SearchKeyword - did not match any entry.</p>

                        </div>
                        <div class="col-4 text-center">


                        </div>
                    }
                    else
                    {
                   
                    @foreach (var gameAndWebDev in Model.Result)
                    {
                        <div class="col-xl-4 col-md-4 mb-4">
                                <a class="card lift shadow mb-4" href="@Url.Action("GameAndWebDevDetail","Detail", new { id = gameAndWebDev.Id, pageType = "GameAndWebDev"})">
                                    <img src="@Url.Content($"~/Uploads/SoftwareProjects/{gameAndWebDev.ImageUrl}")" style="max-height: 300px" class="card-img-top" alt="@gameAndWebDev.Title" />
                                    <h5 class="card-title p-3 cut-text font-weight-bold" style="max-height:40px; min-height:40px">@gameAndWebDev.Title</h5>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item cut-text" style="max-height:40px; min-height:40px">
                                            @gameAndWebDev.PostedDate.ToString("MMM dd, yyyy")
                                        </li>
                                    </ul>



                                </a>
                            
                        </div>
                    }
                    }
                   
                    
                </div>

                <!-- Content Row -->

                <div class="row">

                    

                    
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-12 mb-4">
                        <nav class="float-right">
                            <ul class="pagination jusify-content-center">
                                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page - 1)">
                                        Previous
                                    </a>
                                </li>
                                @for (var pageNumber = 1; pageNumber <= Model.TotalCount; pageNumber++)
                                {
                                    if (pageNumber == Model.Page)
                                    {
                                        <li class="page-item active">
                                            <span class="page-link">@pageNumber</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@pageNumber">@pageNumber</a>
                                        </li>
                                    }

                                }
                                <li class="page-item @(Model.Page == Model.TotalCount || Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-route-s="@Model.SearchKeyword" asp-route-p="@(Model.Page + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        

                        

                    </div>

                    
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <partial name="_Footer" />

        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>








