@model IEnumerable<SubjectModel>
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager

@{
    ViewData["Title"] = "Instructional Materials";
    ViewData["ActivePage"] = ManageSidebar.Prototype;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <header class="card card-waves">
                    <div class="card-body px-5 pt-5 pb-0">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-8">
                                <h1 class="text-primary">Instructional Materials</h1>
                                <p class="lead mb-4">
                                    In this page, we are presenting the modules and materials for Computer Engineering courses which includes paper works, concept and process, design, electronic system, and software programming subjects. Our team specifically aims to show the records of how these creative ideas made which will help our fellow computer engineering students illustrate the product for their project and improve the overall understanding of their project. It also allows the design team to comprehend the product's function, and target audience. Making a prototype can thus highlight unanticipated physical, technical or financial constraints and will absolutely save us time and money.
                                </p>
                            </div>
                            <div class="col-lg-4"><img class="img-fluid" src="/new/assets/img/illustrations/problem-solving.svg" /></div>
                        </div>
                        <nav class="nav nav-borders">
                            <a class="nav-link active ms-0" href="#!">Getting Started</a>
                            <a class="nav-link" href="#!">Tutorials</a>
                            <a class="nav-link" href="#!">Licensing</a>
                            <a class="nav-link" href="#!">Terms &amp; Conditions</a>
                            <a class="nav-link" href="#!">Support</a>
                        </nav>
                    </div>
                </header>
                <h4 class="mb-0 mt-5">Course Materials</h4>
                <hr class="mt-2 mb-4" />
                <div class="row">
                    @if (Model.Count() == 0)
                    {
                        <div class="col-4 text-center">
                        </div>
                        <div class="col-4 text-center">

                            <p>No entries found.</p>

                        </div>
                        <div class="col-4 text-center">
                        </div>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 mb-4">
                                <!-- Knowledge base category card-->
                                <a class="card lift shadow-none rounded-xl" asp-controller="Subjects" asp-action="SubjectsDetail" asp-route-id="@item.Id">
                                    <img class="card-img-top" src="@Url.Content($"~/Uploads/Subjects/{item.ImageUrl}")" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-teal">
                                            <i class="me-2" data-feather="book"></i>
                                            @item.Code
                                        </h5>
                                        <p class="card-text">@item.Subject</p>
                                    </div>
                                    <div class="card-footer"><div class="small text-muted">@item.PostedDate.ToString("MMM dd, yyyy")</div></div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </main>
        <partial name="_NewFooter" />
    </div>
</div>
