@model COLLATEFINAL.ViewModels.EditSubjViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["ActivePage"] = ManageSidebar.Prototype;

}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4 bg-green">
                <div class="container-xl px-4">
                    <div class="text-center">
                        <h1 class="text-white">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white-50">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <div class="row">

                    @if (Model.Lectures != null)
                    {

                        <div class="col-lg-6">

                            <div class="card bg-success shadow mb-4">

                                <div class="card-body text-center">
                                    <h3 class="text-center font-weight-bold text-light">
                                        Lectures
                                    </h3>

                                </div>


                            </div>


                            <div class="row">
                                @foreach (var user in Model.Lectures)
                                {
                                    <div class="col-lg-12">
                                        <div class="card lift mb-2">
                                            <div class="card-header small">
                                                @user.Title
                                            </div>
                                            <div class="card-body">
                                                <iframe class="col-sm-12" src="@Url.Content($"~/PDF/Lectures/{@user.FileUrl}")" height="250" allow="autoplay" allowFullScreen="true" frameborder="1">
                                                </iframe>
                                            </div>
                                            <div class="card-footer">
                                                <a href="@Url.Content($"~/PDF/Lectures/{@user.FileUrl}")" class="btn btn-primary" download>
                                                    Download
                                                </a>
                                                <p class="float-right small">
                                                    @user.PostedDate.ToString("MMM dd, yyyy")
                                                </p>
                                            </div>


                                        </div>

                                    </div>
                                }
                            </div>

                        </div>

                    }
                    else
                    {
                        <p>Subject was not found</p>
                    }

                    @if (Model.Videos != null)
                    {
                        <div class="col-lg-6">
                            <div class="card bg-success shadow mb-4">

                                <div class="card-body text-center">
                                    <h3 class="text-center font-weight-bold text-light">
                                        Videos
                                    </h3>

                                </div>


                            </div>
                            <div class="row">
                                @foreach (var user in Model.Videos)
                                {
                                    <div class="col-lg-12">
                                        <div class="card lift mb-2">
                                            <div class="card-header small">
                                                @user.Title
                                            </div>

                                            <div class="card-body">
                                                @Html.Raw(user.IFrame)
                                            </div>
                                            <div class="card-footer">
                                                <a href="@user.IFrame" class="btn btn-primary" target="_blank">
                                                    Video Link
                                                </a>
                                                <p class="float-right small">
                                                    @user.PostedDate.ToString("MMM dd, yyyy")
                                                </p>
                                            </div>


                                        </div>

                                    </div>
                                }
                            </div>

                        </div>
                    }
                    else
                    {
                        <p>Video was not found</p>
                    }

                </div>

            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>
